<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Room</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/lobby.css">
</head>
<body>

    <div class="waiting-container">
        <div class="message">
            Waiting for another player<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
        </div>
        <div class="room-code-display">
            Room code: <span id="room-code"></span>
            <button class="copy-button" id="copy-button">Copy</button>
        </div>
    </div>
    <div id="game-container">
        <div id="game-ui" style="display: none;">
            <!-- Top HUD (player 2)-->
            <div class="hud top">
                <div class="player-info">
                    <img src="/images/avatars/greenshadow.png" alt="Avatar" class="avatar">
                    <div class="nickname"></div>
                </div>
                <div class="health">
                    <img src="/images/lobby/fullhp.png" alt="heart" class="icon">
                    <div class="value">0</div>
                </div>
            </div>

            <!-- Battlefield -->
            <div class="battlefield">
                <!-- Player2 cards -->
                <div class="player2-cards cards-row">
                    <div class="card enemy-card" data-slot="1"></div>
                    <div class="card enemy-card" data-slot="2"></div>
                    <div class="card enemy-card" data-slot="3"></div>
                    <div class="card enemy-card" data-slot="4"></div>
                    <div class="card enemy-card" data-slot="5"></div>
                </div>

                <!-- Player1 cards -->
                <div class="player1-cards cards-row">
                    <div class="card my-card" data-slot="1"></div>
                    <div class="card my-card" data-slot="2"></div>
                    <div class="card my-card" data-slot="3"></div>
                    <div class="card my-card" data-slot="4"></div>
                    <div class="card my-card" data-slot="5"></div>
                </div>
            </div>

            <div class="hand">
                <div class="card-hand">
                </div>
            </div>

            <!-- Bottom HUD (Player 1) -->
            <div class="hud bottom">
                <div class="player-info">
                    <img src="/images/avatars/<%= avatar_id %>.png" alt="Avatar" class="avatar">
                    <div class="nickname"><%= username %></div>
                </div>
                <div class="health">
                    <img src="/images/lobby/fullhp.png" alt="heart" class="icon">
                    <div class="value">0</div>
                </div>
                <div class="mana">
                    <img src="/images/lobby/cost.png" alt="mana" class="icon">
                    <div class="value">0</div>
                </div>
                <div id="turn-timer">
                    <svg id="turn-timer-svg" width="60" height="60">
                        <circle id="turn-timer-circle"
                        cx="30"
                        cy="30"
                        r="26"
                        stroke="limegreen"
                        stroke-width="4"
                        fill="none"
                        stroke-dasharray="163.36"
                        stroke-dashoffset="0"
                        ></circle>
                    </svg>
                    <div id="turn-timer-label">30</div>
                </div>
                <button id="end-turn">End Turn</button>
            </div>
        </div>
    </div>
</body>
<script>
    const deck = <%- JSON.stringify(deck) %>;
    const user_id = "<%- user_id %>";
    const roomId = "<%- room_id %>";
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script type="module" src="/js/room/main.js"></script>
</html>